body {
        
    background-color:rgb(32, 32, 32);
    font-family:'JetBrains Mono';
    color:beige;
    margin-bottom:150px;

}

h1 {
    text-align:center;
}

footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align:center;
    color:rgb(64, 64, 64);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgb(22, 22, 22), rgb(22, 22, 22));
    padding-top:100px;
    background-clip:border-box;
}

@keyframes images {
    from {scale: 1;}
    to {scale: 1.05;}
}

@keyframes liens {
    from {color:beige;}
    to {color:rgb(68, 126, 233);}
}

@keyframes liens_footer {
    from {color:rgb(68, 68, 62);}
    to {color:rgb(41, 77, 143);}
}

@keyframes liens_menu {
    from {opacity:0%;}
    to {opacity:80%;}
}

.images:hover {
    scale:1;
    animation-name: images;
    animation-duration:250ms;
    animation-direction:alternate;
    animation-iteration-count:2;
}

.liens:hover {
    color:beige;
    animation-name: liens;
    animation-duration:250ms;
    animation-direction:alternate;
    animation-iteration-count:2;
}

.liens_footer:hover {
    color:rgb(68, 68, 62);
    animation-name: liens_footer;
    animation-duration:250ms;
    animation-direction:alternate;
    animation-iteration-count:2;
}

.numtel {
    color:rgb(68, 68, 62)
}

.degrade {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgb(32, 32, 32));
    z-index:1;
}

.liens {
    text-align:left;
    color:beige;
    text-shadow:0px 0px 10px rgb(0, 0, 0);
    line-height:0px;
}

.liens_footer {
    text-align:left;
    color:rgb(68, 68, 62);
    text-shadow:0px 0px 10px rgb(0, 0, 0);
    line-height:0px;
}

.listes {
    line-height:45px;
}

.retour {
    text-align:left;
}

.menu_principal {

    .titre {
        text-align:center;
        color:beige;
        text-shadow:0px 0px 10px rgb(0, 0, 0);
        background-image: url(images/godot_banner.jpg);
        z-index:0;
        background-position:center;
        line-height:30px;
        background-size:auto;
        background-attachment:scroll;
        margin-bottom:30px;
    }

    .cv:hover {
        background-image: url(images/CV_preview.png);
        background-attachment:scroll;
        background-size:cover;
        opacity:80%;
        z-index:-1;
        background-position-y :-250px;
    }

    .exp:hover {
        background-image: url(images/playcash_preview.jpg);
        background-attachment:scroll;
        background-size:cover;
        background-position-y:-650px;
        background-position-x:center;
        z-index:-1;
        opacity:80%;
    }

    .cert:hover {
        background-image: url(images/anssi_banner.png);
        background-attachment:scroll;
        background-size:cover;
        background-position-y:-280px;
        background-position-x:-200px;
        opacity:80%;
        z-index:-1;
    }

    .proj:hover {
        background-image: url(images/godot_banner_preview.png);
        background-attachment:scroll;
        background-size:cover;
        background-position-y: -330px;
        background-position-x:-500px;
        opacity:80%;
        z-index:-1;
    }

    .pass:hover {
        background-image: url(images/gundam_preview.jpg);
        background-attachment:scroll;
        background-size:cover;
        background-position-y:-175px;
        background-position-x:400px;
        opacity:80%;
        z-index:-1;
    }

    .moi:hover {
        background-image: url(images/photo_moi1.JPG);
        background-attachment:scroll;
        background-size:cover;
        background-position-y:-950px;
        background-position-x:400px;
        opacity:80%;
        z-index:-1;
    }

    .titres_menu {
        text-align:center;
        padding:50px;
        margin:0px;
        transition:transform 250ms
    }

    .titres_menu:hover {
        animation-name:liens_menu;
        animation-duration:250ms;
        animation-direction:normal;
        animation-iteration-count:1;
    }

}

.curriculum_vitae {
    
    .titre {
        text-align: center;
        color: beige;
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
        background-image: url(images/signature.png);
        z-index: 0;
        background-position-y: -188px;
        line-height: 30px;
        background-attachment: scroll;
        background-size: 433px;
        background-position-x: 200px;
        background-repeat: no-repeat;
    }

}

.certifications {
    
    .titre {
        text-align: center;
        color: beige;
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
        background-image: url(images/anssi_banner.png);
        z-index: 0;
        line-height: 30px;
        background-attachment:scroll;
        background-size:cover;
        background-position-x:center;
        background-position-y:-290px;
    }

}

.projets {
        
    .titre {
        text-align: center;
        color: beige;
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
        background-image: url(images/godot_banner_preview.png);
        z-index: 0;
        line-height: 30px;
        background-attachment:scroll;
        background-size:cover;
        background-position-x:center;
    }

}

.veille_technologique {
    
    .titre {
        text-align: center;
        color: beige;
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
        background-image: url(images/);
        z-index: 0;
        line-height: 30px;
        background-attachment:scroll;
        background-size:cover;
        background-position-x:center;
        background-position-y:-630px;
    }

}

.experiences_professionnelles {
            
    .titre {
        text-align: center;
        color: beige;
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
        background-image: url(images/playcash_preview.jpg);
        z-index: 0;
        line-height: 30px;
        background-attachment:scroll;
        background-size:cover;
        background-position-x:center;
        background-position-y:-630px;
    }

}

.passions {
            
    .titre {
        text-align: center;
        color: beige;
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
        background-image: url(images/gundam_preview.jpg);
        z-index: 0;
        line-height: 30px;
        background-attachment:scroll;
        background-size:cover;
        background-position-x:300px;
        background-position-y:-175px;
    }

}

.qui_je_suis {

    .titre {
        text-align: center;
        color: beige;
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
        background-image: url(images/photo_moi2.JPG);
        z-index: 0;
        line-height: 30px;
        background-attachment:scroll;
        background-size:cover;
        background-position-x:center;
        background-position-y:-970px;
    }

}

.credits {
    color: rgb(96, 96, 96);
    font-size:small;
}