body {
        
    background-color:rgb(32, 32, 32);
    font-family:'JetBrains Mono';
    color:beige;

}

@keyframes images {
    from {scale: 1;}
    to {scale: 1.05;}
}

@keyframes liens {
    from {color:beige;}
    to {color:rgb(68, 126, 233);}
}

.images:hover {
    scale:1;
    animation-name: images;
    animation-duration:250ms;
    animation-direction:alternate;
    animation-iteration-count:2;
}

.liens:hover {
    color:beige;
    animation-name: liens;
    animation-duration:250ms;
    animation-direction:alternate;
    animation-iteration-count:2;
}

.liens {
    text-align:left;
    color:beige;
    text-shadow:0px 0px 10px rgb(0, 0, 0);
    line-height:0px;
}

.retour {
    text-align:left;
}

.menu_principal {

    .titre {
        text-align:center;
        color:beige;
        text-shadow:0px 0px 10px rgb(0, 0, 0);
        background-image: url(images/godot_banner.jpg);
        z-index:0;
        background-position:bottom;
        line-height:30px;
        background-size:auto;
        background-attachment:fixed;
    }

    .degrade {
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgb(32, 32, 32));
        z-index:1;
    }

    .cv:hover {
        background-image: url(images/CV_preview.png);
        background-attachment:fixed;
        background-size:cover;
        opacity:80%;
        z-index:-1;
    }

    .exp:hover {
        background-image: url(images/playcash_preview.jpg);
        background-attachment:fixed;
        background-size:cover;
        background-position-y:-210px;
        background-position-x:-250px;
        z-index:-1;
        opacity:80%;
    }

    .cert:hover {
        background-image: url(images/anssi_preview.png);
        background-attachment:fixed;
        background-size:cover;
        background-position-y:-100px;
        background-position-x:-200px;
        opacity:80%;
        z-index:-1;
    }

    .proj:hover {
        background-image: url(images/godot_banner_preview.png);
        background-attachment:fixed;
        background-size:cover;
        background-position-y:-135px;
        background-position-x:-500px;
        opacity:80%;
        z-index:-1;
    }

    .pass:hover {
        background-image: url(images/gundam_preview.jpg);
        background-attachment:fixed;
        background-size:cover;
        background-position-y:125px;
        background-position-x:-300px;
        opacity:80%;
        z-index:-1;
    }

}

.curriculum_vitae {
    
    .titre {
        text-align: center;
        color: beige;
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
        background-image: url(images/signature.png);
        z-index: 0;
        background-position-y: -188px;
        line-height: 30px;
        background-attachment: fixed;
        background-size: 433px;
        background-position-x: 200px;
        background-repeat: no-repeat;
    }

}